/**
 * Styles for mobile-first design.
 *
 * These styles are optimized for mobile devices and provide a responsive layout
 * that adapts to larger screens using media queries.
 *
 * @author [Collins Effah]
 */



 *{
    margin: 0;
    padding: 0;
    transition: all 0.2s;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, tahoma;
}


:root {
    --primary-bg: #F8F9FA;
    --accent-yellow: #FFDD00;
    --accent-red: #D22139;
    --accent-green: #026C3B;
    --accent-blue: #80d8da;
}

body {
    position: relative;
    padding-bottom: 50px;
    height: 100vh;
    background: url('../images/back-img.jpg') no-repeat center center/cover;
    background-attachment: fixed;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent-green);
    opacity: 0.86; 
    z-index: 1;
}

body > * {
    position: relative;
    z-index: 2;
}

header{
    display: flex;
    align-items: center;
    height: 70px;
    z-index: 999;
    padding: 20px;
    margin-bottom: 80px;
    justify-content: space-between;
}

.header-logo{
    width: 50px;
}

header a{
    color: var(--accent-green);
    text-decoration: none;
}

.form-heading .mail-icon{
    color: var(--accent-green);
    font-size: 60px;
}

.form-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.logo {
    width: 100px;
    margin-top: -50px;
    background: #f0f2f5;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.auth-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-form{
    width: 300px;
    margin: 10px auto;
    background: white;
    padding: 30px 20px;
    border-radius: 10px;
    background: #f0f2f5;
}

.error p{
    color: red;
    font-size: 14px;
}
 
.auth-form input, 
.auth-form select{
    width: 100%;
    padding: 8px 15px;
    margin: 5px  0 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-form input[type="checkbox"]{
    width: 20px;
    margin: 0;
}

.my-btn{
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    border-radius: 10px;
    cursor: pointer;
    background: var(--accent-green);
}

.my-btn:hover{
    background-color: var(--accent-red);
}

.footer-text{
    margin: 10px;
    font-size: 14px;
    color: #777;
}


