{% extends 'nkz_south_connect/base.html' %}
{% load static %}
{% block title %} News | NDC NKZ South {% endblock %} 


{% block nav-items %}
    <li class="nav-item">
    <a class="nav-link" href="{% url 'nkz_south_connect:about_us' %}">
        <i class="fa fa-info-circle nav-icon"></i> About</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'nkz_south_connect:about_us' %}">
        <i class="fa fa-users nav-icon"></i> Executives</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">
        <i class="fa fa-newspaper-o nav-icon"></i> News</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'nkz_south_connect:projects' %}">
        <i class="fa fas fa-project-diagram nav-icon"></i> Projects</a>
    </li>
{% endblock %}


{% block content %}
    <!-- Hero section -->
    <div class="hero-sec">
    <div class="container">
        <h1 class="text-center">News Update</h1>
    </div>
    </div>

<main class="main">
    <!-- News section -->
    <div class="news-wrap main-container custom-container" id="news">
        <div class="container text-center">
            <br>
            <div class="row news">
                <!-- News 1 -->
                 {% for news in current_news %}
                    <div class="news-item text-center">
                        {% if news.image %}
                            <img src="{{ news.image.url }}" alt="{{ news.title }}" class="img-fluid mb-3">
                        {% else %}
                            <img src="/static/images/default-profile.png" alt="Default Image" class="img-fluid mb-3">
                        {% endif %}
                        <div class="news-info">
                            <p class="date-tag text-start">
                                <i class="fa fa-calendar date-icon"></i> 
                               {{ news.date }}
                            </p>
                            <a href="{% url 'nkz_south_connect:news_details' news.title %}"><p>{{ news.title }}</p></a>
                        </div>
                    </div>
                    {% empty %}
                        <h5 class="text-center alert alert-warning">No news available</h5>
                {% endfor %}
            </div>
        </div>
    </div>
  </main>
  {% endblock %}
     